*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    background-color: rgb(64, 46, 177);
    padding: 15px ;
    
    width: full;
    position: sticky;
    top: 10px;

}
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.nav-link{text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 8px 15px;
    transition: 1.20s;

}
.nav-link:hover{
    background-color: blueviolet;
    border-radius: 5px;

}
img{
    height: 99%;
    width: 450%;
    
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    text-overflow: 5s;
}
#HOME{
    background: red;
}
#About{
    background: rgb(14, 116, 14);
}
#Servic{
    background: yellow;
}
#Contact{
    background: blue;
}
#Blog{
    background: rgb(0, 229, 255);
}
#Rohit{
    background: #ec07e0;
    
}
video{
    height: 100%;
    width: 100%;
}